.jui {
	.popover {
	  position: absolute;
	  font-size: 12px;
	  border-width: 1px;
	  border-style: solid;

	  .border-radius(5px);
	  .opacity(95);
	  .popover-white;
	  .box-shadow(~"0 2px 6px rgba(0,0,0,.075)");
	}
	
	.popover > .head {
	  padding: 7px 15px;
	  border-bottom-width: 1px;
	  border-bottom-style: solid;
	  font-weight: bold;
	}

  	.popover > .body {
	  padding: 15px;

	  > .icon {
		float: left;
		font-size: 16px;
	  }

	  > .icon + .msg {
		margin-left: 24px;
	  }
	}

	.popover:after, .popover:before {
	  border: solid transparent;
	  content: " ";
	  height: 0;
	  width: 0;
	  position: absolute;
	  pointer-events: none;
	}
	.popover:after {
	  border-width: 9px;
	}
	.popover:before {
	  border-width: 10px;
	}

  	// popover Positions
	// --------------------------------------------------

  	// anchor top
	.popover-top:after, .popover-top:before {
	  top: 100%;
	  left: 50%;
	}

  	// anchor bottom
	.popover-bottom:after, .popover-bottom:before {
	  bottom: 100%;
	  left: 50%;
	}

  	// anchor top & bottom
	.popover-top:after, .popover-bottom:after {
	  margin-left: -9px;
	}
	.popover-top:before, .popover-bottom:before {
	  margin-left: -10px;
	}

	// anchor left
	.popover-left:after, .popover-left:before {
	  left: 100%;
	  top: 50%;
	}

	// anchor right
	.popover-right:after, .popover-right:before {
	  right: 100%;
	  top: 50%;
	}

  	// anchor left & right
	.popover-left:after, .popover-right:after {
	  margin-top: -9px;
	}
	.popover-left:before, .popover-right:before {
	  margin-top: -10px;
	}

	// popover Colors
	// --------------------------------------------------
	
	.popover-white {
	  @bgcolor: #fff;
	  @bordercolor: #cacaca;

	  color: #333;
	  background-color: @bgcolor;
	  border-color: @bordercolor;

	  &.popover > .head {
		border-bottom-color: #ebebeb;
	  }

	  .popover-anchor(@bgcolor, @bordercolor);
	}

	.popover-black {
	  @bgcolor: #1d1d1d;
	  @bordercolor: #1d1d1d;

	  color: #fff;
	  background-color: @bgcolor;
	  border-color: @bordercolor;

	  &.popover > .head {
		border-bottom-color: #5a5a5a;
	  }

	  .popover-anchor(@bgcolor, @bordercolor);
	}

  	// 앵커 색상 믹스인
  	.popover-anchor(@bgcolor, @bordercolor) {
	  // anchor top
	  &.popover-top:after {
		border-top-color: @bgcolor;
	  }
	  &.popover-top:before {
		border-top-color: @bordercolor;
	  }

	  // anchor bottom
	  &.popover-bottom:after {
		border-bottom-color: @bgcolor;
	  }
	  &.popover-bottom:before {
		border-bottom-color: @bordercolor;
	  }

	  // anchor left
	  &.popover-left:after {
		border-left-color: @bgcolor;
	  }
	  &.popover-left:before {
		border-left-color: @bordercolor;
	  }

	  // anchor right
	  &.popover-right:after {
		border-right-color: @bgcolor;
	  }
	  &.popover-right:before {
		border-right-color: @bordercolor;
	  }
	}
}
