.jui {
  .group, .combo {
	.children-group();
  }

  .combo { // 콤보박스의 토글 버튼
	.toggle {
	  padding-left: 4px;
	  padding-right: 4px;
	}
  }

  .group + .group, .combo + .combo {
	margin-left: 5px;
  }
}
