.jui {
  .xtable {
    > .body {
      .border-radius(5px);
    }
    
    > .loading {
      display: none;
      width: 32px;
      height: 25px;
      background-repeat: no-repeat;
    }
  }

  
  // xTable NoWrap
  // --------------------------------------------------
  .xtable-nowrap {
    > .body > table > tbody td {
      .text-overflow();
    }
  }
}
