.xtable {
  position: relative;

  table {
    margin: 0px !important;
    border-bottom-width: 0px !important;
  }

  > .head {
    overflow: hidden !important;
  }

  > .body {
    overflow-x: auto !important;

    th {
      border-top-width: 0px !important;
      border-bottom-width: 0px !important;
      padding-top: 0px !important;
      padding-bottom: 0px !important;
    }

    // 클래식 테이블일 경우, RADIUS 처리
    > .table.classic, .table.expand {
      .border-bottom-radius(0px);

      > tbody {
        > tr:last-child > td {
          &:first-child {
            .border-bottom-left-radius(0px);
          }

          &:last-child {
            .border-bottom-right-radius(0px);
          }
        }
      }
    }
  }

  > .loading {
    display: none;
    width: 32px;
    height: 25px;
    background-repeat: no-repeat;
  }
}


// xTable NoWrap
// --------------------------------------------------
.xtable.nowrap {
  > .body > table > tbody td {
    .text-overflow();
  }
}
